<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Select Accommodation</title>
	<style>
		.hidden{
		    display:none;
		}

		.unhidden{
		    display:block;
		}
</style>
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icon font -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">

	<!-- Custom styles -->
	<link rel="stylesheet" href="../static/assets/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/review.js"></script>

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
<body>

<header id="header">
	<div id="head" class="parallax" parallax-speed="1">
		<h1 id="logo" class="text-center">
			<span class="title">Accommodations</span>
    <span class="tagline" style="font-size:90%"><b>Hello, {{name}}!</b>
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="home">Home</a></li>
					<li><a href="showLoc">Locations</a></li>
					<li><a href="transportation">Transportation</a></li>
					<li><a href="accommodation">Accommodations</a></li>
					<li><a href="joinGroup">Travel Groups</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">
	<div class="container">
		<div class="row topspace">
					<label for="accomSelect">Select accommodation</label>
				<select name = "accomSelect"class="form-control">
				  <option value="" selected disabled>Select an accommodation:</option>
					 <option value="">No accommodation needed.</option>
					{% for item in options %}
						<option value="{{item[0]}}">{{item[1]}}, ${{item[2]}}, {{item[3]}}</option>
				    {% endfor %}
				</select>
				<br>
				<input type = "submit" value = "submit" class="btn btn-info">
				<br>
			<table class="table">
				<thead>
					<tr>
							<td scope="col"><b>Name</td>
							<td scope="col"><b>Rate per night</td>
							<td scope="col"><b>Type</td>
							<td scope="col"><b>City</td>
					</tr>
				</thead>
				<tbody>
					{% for item in options %}
					<tr onclick='clickable-row'>
							<td> {{item[1]}}</td>
							<td> ${{item[2]}}</td>
							<td> {{item[3]}}</td>
							<td> {{item[4]}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>

			<br><br><br><br>
</main>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../static/assets/js/template.js"></script>
</body>
</html>
