<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Groups</title>
	<style>
		.hidden{
		    display:none;
		}

		.unhidden{
		    display:block;
		}
		#joinGroupDiv {
    	display: inline-block;
		}
		#leaveGroupDiv {
	    display: inline-block;
		}
</style>
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icon font -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">

	<!-- Custom styles -->
	<link rel="stylesheet" href="../static/assets/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/group.js"></script>

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
<body>

<header id="header">
	<div id="head" class="parallax" parallax-speed="1">
		<h1 id="logo" class="text-center">
			<span class="title">Travel Groups</span>
			{% if name != "" %}
		<span class="tagline" style="font-size:90%"><b>Hello, {{name}}!</b>
			{% endif %}
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="home">Home</a></li>
					<li><a href="showLoc">Locations</a></li>
					<li><a href="transportation">Transportation</a></li>
					<li><a href="accommodation">Accommodations</a></li>
					<li><a href="joinGroup">Travel Groups</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>

<main id="main">
	<div class="container">
		<div class="row topspace">
	    <div class="col-xs-3">
				<form id="groupForm" class="form-signin">
	        	<input type="text" class="form-control" id="grpID" name="grpID" placeholder="Enter Group ID">
				</form>
	    </div>
        <button id="searchGroup" onclick="searching()" type="button" class="btn btn-info">Search</button>
				<button id="createGroup" type="button" onclick="createGroupPage()" class="btn btn-info">Create Group</button>
			</div>
			<div id="groupInfo"></div>
			<div id="plan"></div>
			<div id="groupTable"></div>
			<div id="cost"></div>
			<div id="totalcost"></div>
			<div id='joinGroupDiv' class='hidden'>
				<button type="button" onclick="joinGroup()" class="btn btn-info" id="joinGroupBtn">Join Group</button>
			</div>
			<div id='leaveGroupDiv' class='hidden'>
				<button type="button" onclick="leaveGroup()" class="btn btn-info" id="leaveGroupButton">Leave Group</button>
				<button type="button" onclick="selectGroup()" class="btn btn-info" id="leaveGroupButton">Select Group</button>
			</div>
			<div id="createGroupFormdiv" class='hidden'>
			<form id="createGroupForm" class="form-signin">
					<label for="inputGrpID">Group ID</label>
          <input class="form-control" id="inputGrpID" name="inputGrpID" type='text' placeholder="Enter Group ID">

          <label for="inputGrpSize">Size</label>
          <input class="form-control" id="inputGrpSize" name="inputGrpSize" placeholder="Enter Group Size">

          <label for="inputGrpPurpose">Purpose of Trip:</label>
            <select class="form-control" id="inputGrpPurpose" name="inputGrpPurpose">
              <option value="" selected disabled>Select Purpose</option>
              <option>Education</option>
              <option>Business</option>
              <option>Pleasure</option>
              <option>Other</option>
            </select>
				</form>
				<button id="createGrpBtn" type="button" onclick="createAGroup()" class="btn btn-info">Create</button>
				<div id="groupError" class="hidden"><h5>A group with that ID already exists!</h5></div>
				<div id="groupSuccess" class="hidden"><h5>Group successfully created!</h5></div>
			</div>
			<div id="joinError" class="hidden"><h5>You are already part of the group!</h5></div>
			<div id="sizeError" class="hidden"><h5>Cannot exceed group size!</h5></div>
			<div id="groupSelected"></div>
			<br><br><br><br>
	</div>	<!-- /container -->

</main>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../static/assets/js/template.js"></script>
</body>
</html>
